parameters:
	ignoreErrors:
		-
			message: "#^Call to method setContainer\\(\\) on an unknown class Symfony\\\\Component\\\\DependencyInjection\\\\ContainerAwareInterface\\.$#"
			count: 1
			path: src/MigrationsFactory/ContainerAwareMigrationFactory.php

		-
			message: "#^Class Symfony\\\\Component\\\\DependencyInjection\\\\ContainerAwareInterface not found\\.$#"
			count: 2
			path: src/MigrationsFactory/ContainerAwareMigrationFactory.php
