parameters:
    level: 7
    phpVersion: 80200
    paths:
        - %currentWorkingDirectory%/DependencyInjection
        - %currentWorkingDirectory%/Tests

    ignoreErrors:
        - '~Parameter \#1 \$configs.*DoctrineMigrationsExtension::load.*~'

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
