parameters:
    level: 7
    phpVersion: 80100
    paths:
        - %currentWorkingDirectory%/DependencyInjection
        - %currentWorkingDirectory%/Tests

    ignoreErrors:
        - '~.*TreeBuilder.*getRootNode.*~'
        - '~.*TreeBuilder::root.*~'
        - '~Parameter \#1 \$configs.*DoctrineMigrationsExtension::load.*~'

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
