parameters:
    level: 7
    phpVersion: 80200
    paths:
        - src
        - tests

    excludePaths:
        # That file contains an error that cannot be ignored
        - tests/Fixtures/Migrations/ContainerAwareMigration.php

includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
